<div class="mt-4">
    <form class="form-group" action="/">
        <label for="search-input">Input key</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="input search key...">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
